@import '../../../mixin';
@import '../../../colors';

$holeHeight: 30;
$holeWidth: units(59);
$buttonSidePadding: units(15);
$buttonTopPadding: units(8);
$playButtonSide: 25;

.wrap {
  display: flex;
  width: 100%;
}

.player-button {
  border: 0;
  background-color: transparent;
  padding: 0;
  z-index: 1;
  position: absolute;
  fill: $dark;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.prev, &.next {
    top: $buttonTopPadding;
  }

  &.prev {
    right: $buttonSidePadding;
  }

  &.next {
    left: $buttonSidePadding;
  }

  &.play {
    position: relative;
    width: units($playButtonSide);
    height: units($playButtonSide);
    top: -10px;
    border-radius: units($playButtonSide / 2);
    display: flex;
    justify-content: center;
    background-color: $buttonActive;
    fill: white;
  }
}
