@import '../../../colors';
@import '../../../mixin';

.wrap, .progress {
  height: units(2);
  border-radius: units(1);

}

.wrap {
  background-color: $lighter;
  width: 100%;
  position: relative;
}

.progress {
  background-color: $light;
  width: 0;
}

.pointer {
  position: absolute;
  width: units(2);
  height: units(2);
  border-radius: 50%;
  background-color: $dark;
  left: 0;
}

@include desktop {
  .wrap, .progress {
    cursor: pointer;
  }
}
