@import './mixin';
@import './colors';

body {
  margin: 0;
  min-width: $phone-width;
  background-color: $siteBackground;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
